.crize {
    margin-top: 100px;
    margin-left: 100px;
}


.crize-sem {
    width: 350px;
    height: 220px;
    padding-right: 10px;
    padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-bottom: 30px; 
  background-color: green;
  }
  
  .crize-text {
  color: whitesmoke;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: red;
  
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    border-bottom-color: red;
  
  
    border-right-width: 2px;
    border-right-style: dashed;
    border-right-color: red;
  
    border-left-width: 2px;
    border-left-style: dashed;
    border-left-color: red;
  }
